.match-data-header {
    display: grid;
    grid-template-columns: 2.5fr 6.7fr 1fr 7.3fr;
    width: 100%;
    height: 3rem;
    padding: 0 1rem 0 1rem;
    background: var(--primary);
    color: white;
    font-weight: bold;
}

.match-data {
    display: grid;
    grid-template-columns: 2.5fr 5fr repeat(5, 1fr) 5fr;
    height: 3rem;
    padding: 0 1rem 0 1rem;
    width: 100%;
}

.match-data:nth-child(odd) {
    background: #eee;
}

.match-data img {
    width: 2rem;
    height: 2rem;
    padding-top: 0.5rem;
}

.match-data .score {
    color: var(--primary);
    font-weight: bold;
}

#section-matches {
    padding: 4rem 25% 25%;
}

