{% extends "basic.html" %}

{% block links %}
<link rel="stylesheet" href="../static/css/players.css">
{% endblock %}

{% block content %}
<section id="section-players">
    <article class="player-data-header">
        <p></p>
        <p>Игрок</p>
        <p class="score">Голы</p>
        <p class="score">Ассисты</p>
    </article>
    <article class="player-data" v-for="pl in players_data">
        <img :src="[[ pl.team.image ]]">
        <p>[[ pl.nickname ]]</p>
        <p class="score">[[ pl.goals_count ]]</p>
        <p class="score">[[ pl.assists_count ]]</p>
    </article>
</section>

<script>
    let nav_item = document.querySelector('#players');
    nav_item.classList.add('current-a');
</script>
<script type="module">
    async function getData() {
        const url = 'http://localhost:8000/api/players';
        try {
            const response = await fetch(url);
            if (!response.ok) {
                throw new Error(`Response status: ${response.status}`);
            }

            const json = await response.json();
            console.log(json);
            return json;
        } catch (error) {
            console.error(error.message);
            return null;
        }
    }

    import {createApp} from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
        data() {
            getData().then(data => this.players_data = data)
            return {
                players_data: null
            }
        },
        delimiters: ["[[", "]]"],
        compilerOptions: {
            delimiters: ["[[", "]]"]
        },
        methods: {

        }
    }).mount('#section-players')
</script>
{% endblock %}
